*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.container{
    background-color: blue;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
}
.team{
    background-color: red;
    margin-top: 5vh;
    margin-left: 10%;
    width: 60%;
    height: 11vh;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.campeon{
    text-align: center;
    display: inline-block;
    font-size: 75%;
    width: 7%;
    height: 40%;
    margin: 0 1%;
    margin-top: 1%;
}
.campeon .imagen{
    border: 1px solid black;
    width: 100%;
    height: 90%;
    border-radius: 3px;
}
.campeon img{
    border: 0.1px solid black;
    width: 42%;
    height: 35%;
    border-radius: 1px;
}
.campeon img:first-of-type{
    margin-top: 1px;
}
.imagen{
    cursor: pointer;
}
.campeones{
    background-color: aqua;
    margin-top: 2vh;
    margin-left: 10%;
    width: 60%;
    height: 50vh;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.campeones .campeon{
    height: 10%;
    margin-top: 3%;
}
.sinergias{
    background-color: bisque;
    margin-top: 5vh;
    margin-right: 5%;
    width: 20%;
    height: 63vh;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.razgo:first-of-type{
    margin-top: 3vh;
}
.razgo{
    background-color: silver;
    width: 90%;
    height: 4vh;
    margin-left: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.razgo:hover{
    cursor: pointer;
}
.razgo img{
    height: 70%;
    width: 20%;
    border-radius: 20px;
    float: left;
    margin: 3% 0;
}
.contador{
    width: 75%;
    color: gray;
}
.contador .selected{
    font-size: 130%;
    color: black;
}
.total{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
.filtros{
    background-color: violet;
    margin-top: 3vh;
    margin-left: 10%;
    width: 60%;
    height: 12vh;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.f-sinergias, .f-principal, .f-espatula, .f-cantidad{
    margin-top: 3%;
    width: 24%;
    height: 100%;
    display: inline-block;
}
select {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    margin-top: 3%;
}
select:hover {
border-color: #888;
}
.banner{
    background-color: yellow;
    margin-top: 3vh;
    margin-right: 5%;
    width: 20%;
    height: 20vh;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
}